#library-cont.expand {
    position: absolute;
    top:0px;
    left:0px;
    bottom: 60px;
    border-radius: 15px;
    color:white;
    width:22%;
    
    
}

#library-cont.expand button {

    border-radius: 50%;
    width: 30px;
    height:30px;
}
#wrap.expand {
    margin-left: 5px;
    margin-top: 40px;
    color: white;
    
}
#pl.expand {
    position: absolute;
    top: 175px;
    bottom: 60px;
    right:0px;
    left:0px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height:calc(100vh - 235px);
}


#expandbtn.expand {
    position: absolute;
    right: 10px;
    background-color: transparent;

}
#expandbtn svg {
    stroke: white;
}
#expandbtn:hover svg {
    stroke:#f88379 !important;
    
}
#pl_search svg {
    color: white;
    fill: white;
    stroke:white;
    width: 15px;
    height: 15px;
    flex-shrink: 0;  
}
#pl_search:hover svg{
    color:#f88379;
    stroke:#f88379;
    fill:#f88379;
    
}

#create_pl.expand {
    position: absolute;
    right: 50px;
}
#your_lib {
    position:relative;
    transform: translate(0px);
    top: 25px;
    left:10px;
    font-size: 20px;
    transition: transform 0.3s ease;
    color: white;
}
#expand_lib.expand {
    position: relative;
    opacity: 0;
    left:-35px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
#library-cont.expand:hover #expand_lib.expand {
    transform: translateX(35px);
    opacity: 1;
    cursor: pointer;
}
#library-cont.expand:hover #your_lib {
    transform: translateX(25px);
    opacity: 1;
    cursor: pointer;
}
#library-cont.expand #pl_filters {
    display: flex;
    margin-left:15px;
    margin-top: 10px;
    gap: 5px;
}

#library-cont #pl_filters #back {
    color:white;
   
    height: 30px;
    border-radius: 50%;
    width:30px;
    padding: 0 5px;
    margin-left: 2px;
    font-weight: bold;
}
#library-cont #pl_filters #playlist_filt {
    color:white;
    
    height: 30px;
    border-radius: 15px;
    width:auto;
    padding: 0 5px;
    margin-left: 2px;
    font-weight: bold;
}
#library-cont #pl_filters #albums_filt {
    color:white;
    
    height: 30px;
    border-radius: 15px;
    width:auto;
    padding: 0 5px;
    margin-left: 2px;
    font-weight: bold;
}


#library-cont.expand #search_filt {
    margin-top: 20px;
    display:flex;
    width:100%;
    align-items: center;
    position: absolute;
}
#library-cont #search_filt #pl_search {
    color:white;
    background-color:transparent;
    position: absolute;
    
    left: 15px;
    
    height: 30px;
    border-radius: 50%;
    width:30px;
    
}
#library-cont #search_filt #pl_search:hover {
    background-color: grey;
    font-weight: bold;
}
#sortmethod {
    text-align: right;
    position: absolute;
    right: 45px;
}
#library-cont.expand #search_filt #pl_filter {
    color:white;
    position: absolute;
    background-color: transparent;
    display: flex;
    right: 15px;
    border-radius: 0%;
    
}
#library-cont #search_filt #pl_filter:hover {
    
    font-weight: bold;
}

#library-cont.expand #search_filt #pl_filter svg{
    fill: white;
    stroke: white;
    color: white;
    width: 20px;
    flex-shrink: 0;  
    
}
#library-cont #search_filt #pl_filter:hover svg{
    color:#f88379;
    
    fill: #f88379;
    stroke:#f88379;
}


#pl.expand .playlist {
    margin-top: 10px;
    margin-left: 6px;
    color: white;
    z-index: 3;
    height: 54px;
    width: 98%;
    border-radius: 8px;
    background-color: black;
    border-color: transparent;
   
} 
#wrap button, #search_filt button {
    width: 50%;
    background-color: transparent;
    border-color: transparent;
}
#pl_filters button {
    border-color: transparent;
    background-color: dimgray;
}

#fullscreen1.expand {
    position: absolute;
    top: 60px;
    left:23%;
    bottom: 60px;
    right: 70px;
    background-color: white;
    border-radius: 15px;
    z-index: 1;
    overflow-y: auto;
}
