#library-cont button {
    background-color: transparent;
    border-color: transparent;
    cursor:pointer;
    z-index: 2;
}
.expand_lib svg {
    fill: white;
    width: 20px;
}

.create_pl svg {
    stroke: white;
    fill: white;
    width: 15px;
}
.liked svg {
    fill:white;
    width: 15px;
}
.create_pl:hover svg {
    stroke: #f88379
}
#wrap button:hover svg {
    fill:#f88379;
    color: #f88379;
    
}