
.expand_lib svg {
    fill: white;
    width: 20px;
}

.create_pl svg {
    fill: white;
    width: 15px;
}
.liked svg {
    fill:white;
    width: 15px;
}
.create_pl:hover svg {
    stroke: white;
    fill: white;
}

#wrap button:hover svg {
    fill:#f88379;
    color: #f88379;
    
}
.playlist button {
    background-color: red;
}