html {
    background-color: #131c26;
}
#topbar {
    background-color: #131c26;
}
#arrows button {
    border-radius: 50%;
    width:25px;
    height:25px;
    font-size: 15px;
    font-weight: bold;
    background-color: #131c26;
    color: white;
    border-color: transparent;
}
#search-cont button {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border-color: transparent;

}
#search {
    background-color: #09111B;
    border-radius: 5%;
}
#user-cont button {
    background-color: transparent;
    border-color: transparent;

}
.news img {
    width: 15px;
    height:15px;
}
.friend_act img {
    width: 15px;
    height:15px;
}
.profile img {
    width: 25px;
    height:25px;
}

