
#library-cont {
    position: absolute;
    top:0px;
    left:0px;
    bottom: 60px;
    border-radius: 15px;
    color: white;
    width: 62px;
    
}


#wrap {
    margin-left: 5px;
    margin-top: 60px;
    color: white;
    
}
#pl {
    position: absolute;
    top: 125px;
    bottom: 0px;
    left: 0px;
    right: 62px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    
}
.playlist {
    margin-top: 10px;
    margin-left: 6px;
    color: white;
    z-index: 3;
    height: 54px;
    width: 54px;
    border-radius: 8px;
    background-color: black;
    border-color: transparent;
   
} 
.playlist button {
    
    

}
.hidden {
    display: none;
}
#expand_lib, #create_pl {
    background-color: transparent;
    border-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}