
#library-cont {
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 50px;
    
}

#library-cont button {
    border-radius: 50%;
    width: 30px;
    height:30px;
}
#wrap {
    margin-left: 5px;
    margin-top: 60px;
    color: white;
    
}

.playlists{
    height: 440px;
}
