


#topbar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 20%;
    left: 0px;
    
}
#arrows {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    display: flex;
    justify-content: left;
    
}
#market_wrap {
    position: absolute;
    top: 17px;
    left: 80px;
    width: 100%;
    display: flex;
    justify-content: left;
}


#search-cont {
    position: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

}
.home {
    margin-right: 15px;
}
.search_icon {
    margin-right: 2px;
    width:15px;

}
#search-cont img {
    width: 15px;
    height: auto;
    margin-top: 5px;
}
.searchInput {
    background-color: #09111B;
    color: white;
    border-color: transparent;
    margin-top:2px;
    width: 100%;
    font-size: 10px;
}
#search {
    margin-bottom: 5px;
    display: flex;
    height: 30px;
    width:22%;
    
}
.textfield {
    position:inherit;
    display: flex;
}
.browse_icon {
    margin-left: 10px;
    margin-right:5px;
}
#user-cont {
    position: inherit;
    display:flex;
    justify-content: right;
    width:100%;
    margin-top: 20px;    
}
.news {
    margin-right: 10px;
}
.friend_act {
    margin-right:10px;
}
.profile {
    margin-right: 10px;
}



#player {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 50px;
    
}
#song-info {
    position: inherit; 
    display:flex;
    justify-content: left;
    width: 100%;
}
.song_img {
    margin-left:10px;
}
#text_info {
    margin-left: 30px;
}




#misc {
    position: inherit;
    display: flex;
    justify-content: right;
    width: 100%;
    z-index: 1;
}
#test {
    position: inherit;
    display: flex;
    justify-content: center;
    z-index: 10;
}
#test1 {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0px;
    width: 100%;
    bottom: 50px;
}

#song-info {
    position: absolute;
    display: flex;
    justify-content: left;
    left: 0px;
    width: 100%;
    bottom: 10px;
}
.fullscreen {

    margin-right:10px;
}




#library-cont {
    position:absolute;
    width: 50px;
    
    top:0px;
    left:0px;
}
#wrap {
    margin-top: 50px;
    margin-left: 10px;
}
.expand_lib{
    margin-top: 3px;
}
.create_pl {
    margin-top: 3px;
}
.playlists{
    margin-top: 3px;
}

